*{
    padding: 0;
    margin: 0;

}
.nav_side{
    position: fixed;
    width: 200px;
    height: 90vh;
    background-color: gray;
    color: white;
    
}
h1{
padding-left: 300px;
}
ul li{
    padding: 10px;
}
ul li a{
    margin: 12px;
    color: white;
    font-size: 22px;
    text-decoration:none;
}
iconify-icon{
    padding-right: 5px;
}
.main{
    height: 100vh;
    margin-left: 20px;

}
input{
    margin-left: 30px;
    height: 10px;
    width: 950px;
    padding: 28px;
    margin-top: 10px;
    padding-top: 20px;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    margin-right: 500px;

    
}
.current{
    text-decoration: underline;
    
}
.current:hover{
    background-color: red;
    color: black;
    
}
.main{
    margin-left: 16%;
}
table{
    width: 70%;
    text-align: center;
    border-collapse:collapse ;

}
th{
 padding: 29px;
 font-size: 20px;
 background-color:black;
 color: white;

}
td{
    padding: 10px;
    font-size: 20px;

}
tr:nth-child(odd){
    background-color:rgb(215, 165, 209);
}
.deletebtn{
    background-color: brown;
    height: 40px;
    color: antiquewhite;
    border-radius: 32;

}
a{
    text-decoration: none;
    padding: 8px;
    margin: 24px;

}
.deletebtn:hover{
    background-color: bisque;
    color: black;

}
.updatebtn{
    background-color:black;
    height: 40px;
    color: antiquewhite;
    border-radius: 32;

}
.updatebtn:hover{
    background-color: bisque;
    color: black;
}
a{
    text-decoration: none;
    padding: 8px;
    margin: 24px;
}
.boxes{
   display: flex;
 justify-content: center; 
 

}
.box1{
    background-color: brown;
    color: whitesmoke;
    height: 200px;
    width: 380px;
    margin: 10px;
    padding-left: 8px;
    border-radius: 20px;
 
}

.box1 iconify-icon  {
    font-size: 20px;
    color: white;
    padding-top: 10px;
}
.box2{
    background-color:blue;
    color: white;

    height: 200px;
    width: 380px;
    margin: 10px;
    padding-left: 8px;
    border-radius: 20px;
 
}
.box2 iconify-icon  {
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

.box3{
    background-color:cadetblue;
    color: whitesmoke;
    height: 200px;
    width: 380px;
    margin: 10px;
    padding-left: 8px;
    border-radius: 20px;
 
}
.box3 iconify-icon  {
    font-size: 20px;
    color: white;
    padding-top: 10px;
}
.box1 h1{
    font-size: 40px;
    align-items: center;
 }
 .box2 h1{
    font-size: 2 2px;
    align-items: center;
    margin-top: 50px;
 }
 .button{
    display: flex;
    justify-content: space-between;
 }

.button1{
    height: 50px;
    margin-left: 10px;
    margin-top: 22px;
    margin-bottom: 45;
    padding-bottom: 2px;
    background-color: bisque;
}
.button2{
    margin-right: 28px;
    margin-top: 22px;
    margin-bottom: 45;
    padding-bottom: 2px;
    background-color: bisque;
}
 .btnsearch{
    background-color: yellowgreen
    ;
 }
 .LoginForm input{
    padding: 20px ;
    
  
    width: 300px;
    height: 5px;
 }
 .LoginForm {
    
    text-align: center;
    margin-top: 200px;
    
 }
 .LoginForm h1{
    margin-right: 282px;
 }
 
 .loginbtn{
    background-color: rgb(249, 10, 10);
    color: white;
    width: 2000px;
    height: 100px;
    font-size: 18px;
    margin-top: 10px;

 }



